
    <div class="container">		
        <% flash.each do |key, value| %>
			<div class="alert alert-msg alert-<%= key %>"> <%= value %>
          		<button class="close" data-dismiss="alert"></button>
          	</div>
		<% end %>
        <div class="row login-container column-seperation">  
	        <div class="col-md-5 col-md-offset-1">
				<h2 class="semi-bold">Magnifi.it</h2>
                <h4>Magnifi your control on organization</h4>
		        <ul class="org-controllist">
					<li>Project Management</li>
					<li>Invoicing</li>
					<li>HRMS</li>
					<li>Content Management</li>
					<li>Opex Tracking</li>
				</ul>
		    </div>
		    <div class="col-md-5 signin_text"> <br>
		        <%= form_for(:session, url: sessions_path, :html => { :class => "form_validation"}) do |f| %>
		        <div class="row">
		                <div class="form-group col-md-10">
            				<%= f.label :email, :class => "form-label"%>
  	        				<div class="controls">
								<div class="input-with-icon">  
									<%= f.text_field :email, :class => "form-control", :required=>true%>                          
								</div>
            				</div>
          		        </div>
          		</div>
		  	  	<div class="row">
          		    <div class="form-group col-md-10">
            			<%= f.label :password, :class => "form-label" %>
  	        			<span class="help"></span>
            			<div class="controls">
							<div class="input-with-icon"> 
								<%= f.password_field :password, :class => "form-control", :required=>true %>
							</div>
            			</div>
          		  </div>
          	</div>
		  	<div class="row">
            	<div class="control-group  col-md-5 fgtpwd-pad">
			    	<%= link_to 'Forgot password', forgot_password_path%>
              	</div>
                <div class="col-md-5">
                  <%= f.submit "Sign in", :class => "btn btn-primary btn-cons pull-right" %>
                </div>
          </div>
		  <% end %>
		  </div>
        </div>
  </div>
</div>

