Welcome to Magnifi.it

Project Milestone is changed

Project Name: <%=@user_info[:project_name]%>

Project Manager: <%=@user_info[:project_manager]%>

Milestone Name: <%=@user_info[:milestone_name]%>

The Pre Start date: <%=@user_info[:pre_start_date]%>
The Pre End date: <%=@user_info[:pre_end_date]%>

The current Start date: <%=@user_info[:cur_start_date]%>
The current End date: <%=@user_info[:cur_end_date]%>

Reason fo change:

<p><%=@user_info[:reason]%></p>

