<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
    <li><span class="prev-link" data-no-turbolink><%= link_to 'Contact Point Listing'.html_safe, contact_detail_clients_path(:id=>@client) %></span></li>
    <li><span class="active"> Edit Contact Point: <%= @contact_point.firstname unless @contact_point.blank?%></span></li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
			<div class="grid-title no-border"></div>  
            	<%= form_for(@contact_point, :url=>{:action=>"update"}, :html=>{:enctype=>"multipart/form-data",:multipart => true}) do |f| %>
				    <div class="grid-body no-border">	
		 			<div id="errorbox" class="error_box" style="margin-left: 25px;">	
					    <%= render "shared/error_messages", :object=>@contact_point %>
					</div>	   
					<%=hidden_field_tag :client_id, @client%>
                  	<%=render 'clients/contact_point_fields', f: f%>
					<div class="form-actions" data-no-turbolink>
				        <div class="pull-right">
				            <%= f.submit 'Save', class: "btn btn-success btn-cons", data: { disable_with: 'Saving...' } %>
				            <%= link_to 'Cancel', contact_detail_clients_path(:id=>@client), class: "btn btn-white btn-cons" %>
				        </div>
			        </div>
					</div>
           		<% end %>
        	</div>
    	</div>
	</div>	
</div>

<script type="text/javascript">
	$(function($){
		showHideMenu('li_administration');
	   });
</script>