<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
			<div class="grid-title no-border"></div>  
				<div class="grid-body no-border">
					<div class="row">
						<div class="right-container">
			            	<!-- <div class="col-md-6"> -->
			                	<h4 class="semi-bold">Roles</h4>            
								<div class="row form-row">
									<div class="col-md-5">
							    		<%unless action_name.eql?("edit")%>
											<%=select_tag :id, options_from_collection_for_select(@roles, 'id', 'name'), {:prompt=>"Select Designation", :class=>"form-control", :required=>true}%>
										<%else%>
											<%=hidden_field_tag :id, @role.id%>
											<%=text_field_tag :role, @role.name, :readonly=>true%>
										<%end%>	
							    	</div>
								</div>
							<!-- </div> -->
			        		<!-- <div class="col-md-6"> -->
								<h4 class="semi-bold">Access Rights</h4>
								<div class="row form-row">
							    	<div class="col-md-12">
								    	<div id="access_right_load" class="access_right" style="display:block">
											<%=render 'accessright'%>
										</div>
								  		<div id="access_right" class="access_right"  style="display:none"></div>
								  	</div>
								</div>
							<!-- </div> -->
					    </div>	
			    	</div>
				<%=hidden_field_tag('checked_list[]')%>
				<%=hidden_field_tag('unchecked_list[]')%>
					<div class="form-actions" data-no-turbolink>
					      <div class="pull-right">
							  <%= submit_tag 'Save', class: "btn btn-success btn-cons", data: { disable_with: 'Saving...' } %>
							  <%= link_to 'Cancel', accessrights_path, class: "btn btn-white btn-cons" %>
						  </div>
					</div>
			</div>
	    </div>
    </div>
</div>
	
<script type="text/javascript">
	$(function($){
		showHideMenu('li_administration');
	   });
</script>
