
    <div class="container">
        <% flash.each do |key, value| %>
			<div class="alert alert-msg alert-<%= key %>"> <%= value %>
          		<button class="close" data-dismiss="alert"></button>
          	</div>
		<% end %>
		<div class="row login-container column-seperation">  
            <div class="col-md-5 col-md-offset-1">
                <!-- <h2 class="semi-bold">Magnifi.it</h2> -->
				<h2 class="semi-bold">Magnifi.it</h2>
                <h4>Magnifi your control on organization</h4>
		        <ul class="org-controllist">
					<li>Project Management</li>
					<li>Invoicing</li>
					<li>HRMS</li>
					<li>Content Management</li>
					<li>Opex Tracking</li>
				</ul>
                <!-- <%#= link_to '<span class="pull-left"><i class="icon-facebook"></i></span>
				    <span class="bold">Login with Magnifi</span>'.html_safe, signin_path ,class: "btn btn-block btn-info col-md-8" %> -->
				
            </div>
		    <div class="col-md-5 signin_text"> 
				<%= form_tag( email_for_password_users_path, :method => "post",  :id=>"forgot_password_form", :class=>"form_validation") do %>
	    		<div class="grid simple">
				    <div class="grid-title no-border">
					     <h3> <span class="semi-bold">Forgot password</span></h3>
					</div>
					<div class="grid-body no-border">
		        	<div class="row">
		        		<div class="form-group col-md-10">
		   		         <%= label_tag 'email_label', "Email", :class => "form-label"%>
  	        				<div class="controls">
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<%= text_field_tag 'email' , nil, placeholder: 'Email Address', :required=>true, :class=>"form-control"  %>
								</div>
							</div>
						</div>
					</div>
		            <div class="row">
		                <div class="col-md-10">
		                    <%= submit_tag "Submit", class: "btn btn-success btn-cons", data: { disable_with: 'Saving...' } %>
							<i class="icon-ok"></i>
			 				<%= link_to 'Back', signin_path ,class: "btn btn-white btn-cons" %>
		                </div>
		            </div>	
				</div>
				</div>
				<% end %>
			</div>
		</div>
 	</div>


