<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
   <li><span class="prev-link" data-no-turbolink><%= link_to 'Project Dashboard'.html_safe, project_dashboard_users_path %></span></li>
   <li><span class="active" data-no-turbolink> Project Progress</span></li>
</ul>

<!--Project Progress sec start-->
<!--Project Header--> 
<%grid_style = "fixed_cost".eql?(@project.project_type) ? 'fixed_plan' : 'tm_plan'%>
<div class="project-header <%=grid_style%>" data-no-turbolink>
	<div class="navbar-header">
    	<button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      	</button>
    	<span class="navbar-brand"><%=truncate(@project.title, length: 30) unless @project.blank?%></span>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    	<ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Timesheets' , add_timesheet_timesheets_path %></li>
            <li><%= link_to 'Milestones', fc_milestone_projects_path(:id=>@project) if @project.project_type.eql?("fixed_cost")%></li>
            <li><%= link_to 'Team', project_members_projects_path(:id=>@project)%> </li>
            <!-- <li><a href="javascript:void(0);">Settings</a></li> -->
        </ul>
    </nav>
</div>
<!--Project Header-->
<!--Project Progress Block-->
<%grid_style = "fixed_cost".eql?(@project.project_type) ? '' : 'tnm-progress'%>
<div class="milestone-block progress-block <%=grid_style%>">
	<h3 class="semi-bold">Project progress</h3>
    <div class="col-md-8">        	
    	<div class="progress-box">
        	<span class="startdate-box">Start date <span><%=@project.fixed_costs.first.milestone_start_date unless @project.fixed_costs.blank?%></span></span>
            <span class="enddate-box">End date <span><%=@end_date%></span></span>
        	<div class="progress-bar" style="width:<%=@project_status%>%">&nbsp;</div>
        </div>
    </div>
    <%grid_style = "fixed_cost".eql?(@project.project_type) ? '' : 'tnm-title'%>
    <div class="col-md-4 <%=grid_style%>">
    	<h1 class="semi-bold process-titletxt"><%= @project_status.blank? ? 0 : @project_status  %>% Done</h1>
        <h2 class="light track-timetxt">Off tracked by <%=(@completed_hour.to_i > @project.committed_hours.to_i ) ? (@completed_hour.to_i - @project.committed_hours.to_i ) : 0 %> hours</h2>
		<% unless @off_track_days.blank?%>
			<h2 class="light track-timetxt">Off tracked by <%= @off_track_days %> days</h2>
        <%end%>
		<h2 class="light spenttime-txt"><%=@completed_hour%> hours spent</h2>
    </div>
    <div class="clearfix"></div>
</div>
<!--Project Progress Block-->
<!--Milestone &amp; payment start-->
<div class="milestone-block">
	<h3 class="semi-bold">Milestone &amp; Payment overview</h3>
    <div class="col-md-3">
    	<ul class="overview-detail">
        	<li>
            	<div class="pinkbg">
                	<p>total project cost</p>
					<h2><%= total_amount = @project.total_amount.blank? ? number_to_currency(0.0): number_to_currency(@project.total_amount)%></h2>
                </div>
            </li>
            <li>
            	<div class="purplebg">
                	<p>payment received</p>
                    <h2><%=number_to_currency(@received_amount)%></h2>
                </div>
            </li>
            <li>
            	<div class="greenbg">
                	<p>estimated hours</p>
                    <h2><%=@project.committed_hours.to_i%></h2>
                </div>
            </li>
            <li>
            	<div class="bluebg">
                	<p>completed hours</p>
                    <h2><%=@completed_hour%></h2>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
    	<ul class="payment-list">
			<%unless @project.advanced_amount.blank?%>
        	<li class="completed">
            	<p>Advance</p>
                <p class="semi-bold"><%=number_to_currency(@project.advanced_amount)%></p>
                <p><%=@project.start_date%></p>
            </li>
			<%end%>
			<%@project.fixed_costs.each do |fc|%>
			<%#=status = "payment_received".eql?(fc.status) ? "completed" :  !(fc.reason.blank? && fc.milestone_end_date > Time.now.to_date ) ? "pinkbg" : "endM"%>
				<%if "payment_received".eql?(fc.status)%>
					<%status = 'completed'%>
				<%elsif fc.milestone_start_date <= Time.now.to_date && fc.milestone_end_date >= Time.now.to_date%>	
					<%status = 'pinkbg'%>
				<%elsif (fc.milestone_start_date > Time.now.to_date && fc.status.blank?) || (fc.milestone_end_date < Time.now.to_date)%>	
					<%status = 'endM'%>
				<%end%>
            	<li class="<%=status%>">
            		<p><%=fc.milestone_name%></p>
                	<p class="semi-bold"><%=number_to_currency(fc.amount)%></p>
                	<p><%=fc.milestone_end_date%></p>
            	</li>
			<%end%>
			<li class="new-milestone">
				<%= link_to image_tag('new-milestone.png'), fixed_cost_payment_projects_path(:id=>@project) if "fixed_cost".eql?(@project.project_type)%>
				<p class="semi-bold"><%= link_to "New Milestone", fixed_cost_payment_projects_path(:id=>@project)%></p>
			</li>	
			
        </ul>
    </div>
<div class="clearfix"></div>
</div>
<div class="text-center loadmore_arrw"><a href="javascript:void(0);" class="toggle_invited_members" container-div="id_invited_members"><i class="fa fa-angle-down"></i></a></div>
<!--Milestone &amp; payment end-->
<!--Project Progress sec end-->

    <!--Team block start-->
    <% unless @project.project_manager.delete_flag == true %>
    <div class="milestone-block" id="id_member_list">
    	<h3 class="semi-bold" >The Team</h3>
        <div class="col-md-3">
        	<div class="client-detail">
                <div class="">

					<%logo = @project.project_manager.photos.blank? ? 'missin.png' : @project.project_manager.photos(:thumb) %>
					<%=image_tag(logo, :class=>"client-photo")%>
				</div>
                <h4 class="text-center semi-bold"><%=@project.project_manager.get_full_name unless @project.project_manager.blank?%></h4>
                <p class="client-desig"><%=@project.project_manager.role.name unless @project.project_manager.role.blank?  unless @project.project_manager.blank?%></p>
            </div>
        </div>
		<div class="col-md-9" id="id_invited_team">
			<span id="project_team"><%=render 'projects/project_team'%></span>
		</div>

	<div class="clearfix"></div>
    </div>
    <% end %>

    <div class="text-center loadmore_arrw"><a href="javascript:void(0);" class="toggle_invited_members" container-div="id_member_list"><i class="fa fa-angle-down"></i></a></div>
    <!--Team block end-->
	
	
<script type="text/javascript">
$(document).ready(function(){
	showHideMenu('li_projects');
});
</script>  