<div id="raise_project_invoice">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		Fixed Cost - Milestone Invoices <%=link_to "refresh", latest_invoice_raise_users_path, :remote=>true%>
  	  	<div class="well sidebar-nav">
   		 <ul class="nav">
			 <%@projects.each do |project|%>
				<%unless project.fixed_costs.blank?%>
					<p><%=project.title%></p>
					<ul><%project.fixed_costs.each do |fc|%>
							<%if "raise_invoice".eql?(fc.status)%>
								<li><%=fc.milestone_name %> - <%=fc.milestone_end_date.strftime("%d %b, %Y") %> - <%=fc.amount %></li>
							<%end%>
						<%end%>
					</ul>
			<%end%>
		<%end%>
    </ul>
  </div><!--/.well -->Fixed Cost - Delayed milestone reasons
	  	<div class="well sidebar-nav">
 		 <ul class="nav">
		 <%@projects.each do |project|%>
			<%unless project.fixed_costs.blank?%>
				<p><%=project.title%></p>
				<ul><%project.fixed_costs.each do |fc|%>
						<%unless fc.reason.blank?%>
							<li><%=fc.milestone_name %> - <span class="comment more"><%=fc.reason%></span></li>
						<%end%>
					<%end%>
				</ul>
		<%end%>
	<%end%>
  </ul>
</div>
</div><!--/span--></div>
<script type="text/javascript">
$(document).ready(function(){
	var showChar=100;
	var ellipsestext="...";
	var moretext="more";
	var lesstext="less";
	$('.more').each(function(){
		var content=$(this).html();
		if(content.length>showChar){
			var c=content.substr(0,showChar);
			var h=content.substr(showChar-1,content.length-showChar);
			var html=c+'<span class="moreelipses">'+ellipsestext+'</span>&nbsp;<span class="morecontent"><span>'+h+'</span>&nbsp;&nbsp;<a href="" class="morelink">'+moretext+'</a></span>';
			$(this).html(html);}});
			$(".morelink").click(function(){
				if($(this).hasClass("less")){
					$(this).removeClass("less");
					$(this).html(moretext);
				}
				else{
					$(this).addClass("less");
					$(this).html(lesstext);
				}
				$(this).parent().prev().toggle();
				$(this).prev().toggle();
				return false;
			});
});
</script>