<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
    <li><span class="prev-link" data-no-turbolink><%= link_to 'Client Listing'.html_safe, clients_path %></span></li>
    <li><span class="active"> Add Contact Point</span></li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
			<div class="grid-title no-border"></div>  
            <%= form_for(@client,:html=>{:enctype=>"multipart/form-data",:multipart => true, :class=>"form_validation form-no-horizontal-spacing"}) do |f| %>
				<div class="grid-body no-border">
					<div style="margin-left:25px;">
		 			<%= f.label :name, "Client Name: ", :class=>"semi-bold" %>
					<%= f.text_field :name, :autofocus => true,:readonly=>true, :style=>"width:420px" %>  
				</div>
					<div class="grid-title no-border">
					    <!-- <h4><span class="semi-bold">Contact Point </span></h4> -->
					</div>
				
		        	<%=f.fields_for :contact_points,@contact_point do |fb|%>     
		        		<%=render 'contact_point_fields', f: fb%>
		        	<%end%>
					<%= link_to_add_fields "Add Contact", f, :contact_points %>
			        <div class="form-actions" data-no-turbolink>
				        <div class="pull-right">
				            <%= f.submit 'Save', class: "btn btn-success btn-cons", data: { disable_with: 'Saving...' } %>
				            <%= link_to 'Cancel', clients_path, class: "btn btn-white btn-cons" %>
				        </div>
			        </div>
		        </div>
			 <% end %>
        </div>
    </div>
</div>







<!-- <body>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <%#= form_for(@client,:html=>{:enctype=>"multipart/form-data",:multipart => true}) do |f| %>
			  <div class="form-group" >
                <%#= f.label :name, "Client Name" %><br />
                <%#= f.text_field :name, :autofocus => true,:readonly=>true, :style=>"width:420px" %>
              </div>
              <%#=f.fields_for :contact_points,@contact_point do |fb|%>
                  <%#=render 'contact_point_fields', f: fb%>
              <%#=end%>
              <div class="form-group" >
                  <%#= link_to_add_fields "Add Contact", f, :contact_points %>
              </div>
			  <div class="actions" style="text-align: center;">
			      <%#= f.submit "Save", class: "btn btn-primary width_100px", :id=>"submit" %>
			  	  <%#= link_to 'Cancel', clients_path, class: "btn btn-primary width_100px" %>
			  </div>
            <%#= end %>
        </div>
	</div>
    </div>
  </body> -->
  
