<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
    <li><span class="prev-link" data-no-turbolink><%= link_to 'Client Listing'.html_safe, clients_path %></span></li>
    <li><span class="active"> View Contact Points</span></li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
		    <div class="grid-body ">
			    <div role="grid" class="dataTables_wrapper form-inline" id="example2_wrapper">
					<h4 class="semi-bold">Contact points for client: <%=@client.name unless @client.blank?%></h4><br>
  	  		 	    <div class="row" data-no-turbolink>
				  	    <div class="col-md-6">
				  		    <%= link_to 'Add Contact Point', add_contact_point_clients_path(:id=>@client), class: "btn btn-primary newempl-btn", :style => "margin-left:12px" %>
				  	    </div>
			  	  	</div>
             	    <table id="id_contact_point_table" class="table table-striped dataTable listingTable" aria-describedby="example2_info">
					   <thead>
					       <%unless @contact_points.blank?%>
						       <tr role="row">
							       <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 22px;" aria-label=": activate to sort column ascending"></th>
							       <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 165px;" aria-label="Rendering engine: activate to sort column ascending">Name</th>
								    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 165px;" aria-label="Rendering engine: activate to sort column ascending">Email</th>
							       <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" style="width: 219px;" aria-label="Browser: activate to sort column ascending">Action</th>
							   </tr>
                	   </thead>
                	   <tbody role="alert" aria-live="polite" aria-relevant="all">
						   <% @contact_points.each do |client| %>
				  	       <tr class="gradeX odd">
							   <td class="center "></td>
	 						   <%logo = client.photos.blank? ? 'missin.png' : client.photos(:thumb) %>
	 	              	  	   <td>
								   <%= link_to image_tag(logo,:class=>"image_index_setting", :class=>"dashboard-img") , contact_point_path(client, :client_id => @client.id)%><br>
								   <%if can? :read, User %><%= link_to client.firstname, contact_point_path(client, :client_id => @client.id) %>
								   <%end%>
							   </td>
							   <td><%=client.email%></td>
	                 	 	   <td>
	              	  			  <% if can? :update, User %><%= link_to '<i title="Edit Contact Point" class="fa fa-edit"></i>'.html_safe, edit_contact_point_path(client,:client_id=>@client.id) %><%end%> |
	               	  			  <% if can? :destroy, User %><%= link_to '<i title="Archive Contact Point" class="fa fa-trash-o"></i>'.html_safe, contact_point_path(client), method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
								</td>
                  		   </tr>
	   	      	  		   <% end %>
						<% end %>
			  		</tbody>
		  		  </table>
		    </div>
        </div>
    </div>
</div>
	  
<script type="text/javascript">
	$(function($){
		showHideMenu('li_administration');
	   });
</script>